In [12]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [13]:
batters = "battersW10YRS.csv"
wars = "war.csv"

In [14]:
b_df = pd.read_csv(batters)
w_df = pd.read_csv(wars)

In [15]:
combined_data=pd.merge(b_df, w_df, how='left',on='player_id')

combined_data.head()

,Unnamed: 0,2B,3B,BA,BB,HBP,HOF,HR,IBB,OBP,...,SF,SLG,extra_base_hits,firstName,games,hits,lastName,player_id,runs,WAR
0,0,581.00,142.00,0.332587,983.00,32.16,N,97.10,0.27,0.392578,...,0.27,0.445101,0.0,Adrian Constantine,2523.0,3418.00,Anson,ansonca01,1996.00,93.92
1,1,74.00,17.04,0.254141,65.00,0.10,N,8.06,0.10,0.276421,...,0.10,0.316735,0.0,Edgar Edward,452.0,537.00,Cuthbert,cuthbne01,453.00,1.34
2,2,85.01,31.05,0.274156,48.00,0.12,N,0.12,0.12,0.287606,...,0.12,0.332078,0.0,David Daniel,576.0,698.00,Eggler,eggleda01,491.01,4.92
3,3,70.02,30.02,0.260660,42.02,0.10,N,8.08,0.12,0.273193,...,0.12,0.323898,0.0,Charles John,583.0,636.01,Fulmer,fulmech01,360.01,8.75
4,4,56.02,13.04,0.275695,26.02,0.12,N,0.12,0.12,0.283233,...,0.12,0.308932,0.0,Michael Henry,547.0,684.00,McGeary,mcgeami01,484.00,10.83

In [16]:
combined_data.to_csv('hitterdata.csv')